<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.senseHat">

    <!-- Allows applications to access information about networks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allows applications to open network sockets. -->
   <uses-permission android:name="android.permission.INTERNET" />

   <application
       android:allowBackup="true"
       android:icon="@mipmap/ic_launcher_raspberry"
       android:label="@string/app_name"
       android:roundIcon="@mipmap/ic_launcher_raspberry_round"
       android:supportsRtl="true"
       android:theme="@style/AppTheme"
       android:usesCleartextTraffic="true">
       <!-- Main activity -->
       <activity android:name="com.example.senseHat.View.HomePageView">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
       <!-- Configuration activity -->
       <activity android:name="com.example.senseHat.View.ConfigView" />
       <activity android:name="com.example.senseHat.View.GraphEnvView" />
       <activity android:name="com.example.senseHat.View.GraphAngleView" />
       <activity android:name="com.example.senseHat.View.GraphJoyStickView" />
       <activity android:name="com.example.senseHat.View.LedView" />
       <activity android:name="com.example.senseHat.View.DynamicTableView" />

   </application>

</manifest>